@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  /*   ## Colors */
  --clr-blue-500: hsl(240, 38%, 20%);
  --clr-blue-100: hsl(240, 18%, 77%);
  --clr-blue-50: rgb(223, 223, 231);

  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

body::after {
  content: url(./images/pattern-curve.svg);
  position: absolute;
  transform: scale(1.2);
  transform-origin: bottom left;
  bottom: -5px;
  left: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  width: 90%;
  max-height: 660px;
  padding: 50px;
}

.testimonial-card {
  color: var(--clr-blue-500);
  font-weight: var(--fw-light);
  font-size: 1.85rem;
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
}

.testimonial {
  position: absolute;
  top: 50%;
  right: -130px;
  transform: translateY(-35%);
  z-index: 2;
}

.testimonial p {
  margin-bottom: 25px;
  line-height: 1.4;
  animation-name: texto-esmoecedor;
  animation-duration: 1s;
}

@keyframes texto-esmoecedor {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
.text {
  position: relative;
}

.text::after {
  position: absolute;
  content: url(./images/pattern-quotes.svg);
  z-index: -1;
  top: -30%;
  left: 14%;
  transform: scale(0.9);
}

.testimonial span {
  font-size: 1.18rem;
}

span.name {
  font-weight: var(--fw-bold);
  color: var(--clr-blue-500);
  animation-name: name-monstruoso;
  animation-duration: 2s;
}

span.job {
  font-weight: var(--fw-medium);
  color: var(--clr-blue-50);
  animation-name: name-monstruoso;
  animation-duration: 2s;
}

@keyframes name-monstruoso {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-slider {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

figure {
  width: 90%;
  position: relative;
  border-radius: 10px;
}

figure img {
  max-width: 100%;
  border-radius: 10px;
}

.buttons {
  background-color: white;
  position: absolute;
  width: 105px;
  height: 55px;
  z-index: 3;
  bottom: -4.5%;
  left: 20%;
  transform: translateX(-30%);
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: -10px 10px 30px rgb(0 0 0 / 15%), 10px 10px 30px rgb(0 0 0 / 15%),
    -65px -4px 35px rgb(0 0 0 / 10%), 65px -4px 35px rgb(0 0 0 / 10%);
}

.buttons button {
  width: 50%;
  margin: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: white;
}

.name {
  display: block;
  padding-bottom: 0;
}

button:hover {
  filter: contrast(0.85);
}

button.left {
  position: relative;
}

button.left::after {
  position: absolute;
  content: url(./images/icon-prev.svg);
  width: 12px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

button.right {
  position: relative;
}

button.right::after {
  position: absolute;
  content: url(./images/icon-next.svg);
  width: 12px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.img-slider::after {
  content: url(./images/pattern-bg.svg);
  position: absolute;
  top: -18%;
  left: -7%;
  right: 0;
  bottom: 0;
  transform: scale(0.9);
  z-index: -1;
  animation-name: bg-pattern;
  animation-duration: 2.5s;
}

@keyframes bg-pattern {
  0% {
    left: 120%;
  }

  50% {
    left: -30%;
  }
  100% {
    top: -18%;
    left: -7%;
    right: 0;
    bottom: 0;
  }
}

.buttons {
  background-color: white;
  position: absolute;
  width: 105px;
  height: 55px;
  z-index: 3;
  bottom: -4.5%;
  left: 20%;
  transform: translateX(-30%);
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: -10px 10px 30px rgb(0 0 0 / 15%), 10px 10px 30px rgb(0 0 0 / 15%),
    -65px -4px 35px rgb(0 0 0 / 10%), 65px -4px 35px rgb(0 0 0 / 10%);
  animation-name: botao-voador;
  animation-duration: 1s;
}

@keyframes botao-voador {
  0% {
    display: none;
  }

  25% {
    bottom: -104.5%;
    left: 20%;
  }

  100% {
    bottom: -4.5%;
    left: 20%;
  }
}

figure {
  width: 90%;
  position: relative;
  border-radius: 10px;
  animation-name: photo-figure;
  animation-duration: 1.5s;
}

@keyframes photo-figure {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* QUERIES  */

@media (max-width: 1170px) {
  main {
    padding: 30px;
  }

  figure {
    width: 85%;
  }

  .img-slider::after {
    transform: scale(0.85);
  }
  .testimonial-card {
    font-size: 1.75rem;
  }
}

@media (max-width: 925px) {
  .img-slider {
    width: 400px;
  }
  .img-slider::after {
    transform: scale(0.65);
    top: -33%;
    left: -27%;
  }
  @keyframes bg-pattern {
    0% {
      left: 120%;
    }

    50% {
      left: -40%;
    }
    100% {
      top: -33%;
      left: -27%;
      right: 0;
      bottom: 0;
    }
  }
  figure {
    width: 85%;
  }
  .testimonial {
    right: -120px;
  }
  .testimonial-card {
    font-size: 1.5rem;
  }
  body::after {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .testimonial-card {
    font-size: 1.3rem;
  }
  body::after {
    transform: scale(0.9);
  }

  figure {
    width: 75%;
  }

  .img-slider {
    transform: translate(20px);
  }

  .img-slider::after {
    transform: scale(0.55);
    top: -41%;
    left: -17%;
  }

  @keyframes bg-pattern {
    0% {
      left: 120%;
    }

    50% {
      left: -50%;
    }
    100% {
      top: -41%;
      left: -17%;
      right: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 675px) {
  body {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  body::after {
    transform: scale(0.5);
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 350px;
    width: 90%;
    min-height: 600px;
    max-height: 90vh;
  }

  .img-slider {
    height: 50%;
    width: 100%;
    justify-content: center;
    transform: translate(0);
    padding-top: 20px;
  }

  .img-slider::after {
    transform: scale(0.4);
    top: -46%;
    left: -44%;
  }

  @keyframes bg-pattern {
    0% {
      left: 120%;
    }

    50% {
      left: -60%;
    }
    100% {
      top: -46%;
      left: -44%;
      right: 0;
      bottom: 0;
    }
  }

  .testimonial {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(35%);
    z-index: 1;
  }

  .testimonial-card {
    text-align: center;
    font-size: 1.1rem;
  }

  .buttons {
    width: 95px;
    height: 45px;
    z-index: 3;
    bottom: -4.5%;
    left: 20%;
    transform: translateX(20%) translateY(5px);
  }

  .text::after {
    transform: scale(0.6) translateX(-81%);
    top: -30%;
    left: 50%;
  }

  .name {
    display: block;
    padding-bottom: 5px;
  }
}

@media (max-width: 350px) {
  body {
    overflow: visible;
    height: initial;
  }
  body::after {
    transform: scale(0.5);
  }

  .img-slider::after {
    transform: scale(0.1);
    top: -54%;
    left: -57%;
  }

  .buttons {
    bottom: -4.5%;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
  }

  .img-slider::after {
    content: url(./images/pattern-bg.svg);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(0.1);
    top: -54%;
    left: -57%;

    z-index: -1;
    animation-name: bg-pattern;
    animation-duration: 2.5s;
  }

  @keyframes bg-pattern {
    0% {
      left: 120%;
    }

    50% {
      left: -80%;
    }
    100% {
      top: -54%;
      left: -57%;
      right: 0;
      bottom: 0;
    }
  }
}
